body {
	font-family: Arial, sans-serif;
	background-color: #fff;
  }
  
  h1 {
	text-align: center;
	margin-top: 30px;
  }
  
  .bin-note {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
  }
  
  .bin-note p {
	margin: 0;
	font-size: 16px;
  }
  
  .bin-note img {
	max-width: 100%;
	margin-top: 10px;
  }
  
  #bin-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
  }
  header {
	background-color: #ffffff;
	padding: 10px 20px;
	box-shadow: 1px 1px 22px 0px rgb(173 173 173 / 14%);
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-img {
	height: 30px;
}

.header-nav {
	font-size: 18px;
}

.header-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 25px;
	display: flex;
}

.header-menu li {
	margin-right: 10px;
}

.add-button{
	border: none;
}

.header-link {
	color: rgb(255, 183, 0);
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 1.5px;
	transition: color 0.3s ease;
}

.header-title {
	margin: 10px 0;
}

.header-link:hover {
	color: #1a1200;
}
